@charset "UTF-8";
html,body{
    margin:0;
    padding:0;
	font-family : 'Nanum Gothic';
}

/*네비바*/
header{
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0);
    background: #000000;
    width:100%;
    font-weight: 760;
    padding:0 30px;
    height:70px;
    z-index:9999;
}



/*로고*/
header h1{
    position: relative;
    margin-right:auto;
    top:-10px;
    line-height:30px;
}

header h1 :hover{
    color:red;
}

header h1 a{
    color: white;
    text-decoration-line: none;
}

/*상단 전체 박스*/
header #lnb {
    display: flex;
    margin: 0 auto;
    top: 0;
    width: 1200px;
}

/*로그인*/
header .login{
    float: right;
    list-style: none;
}

header .login li{
/*    flex: 1;*/
    padding:9 0 0 18px;
   display:inline-block;
}
/*네비바 로그인쪽 a태그*/
header .login li a{
    line-height:30px;
     margin:0 10px 0 10px;
    color: white;
    text-decoration-line: none;
    }

header #lnb nav {
    text-align: center;
    font-size:0;
}

header #lnb nav > ul{
    display:inline-block; 
    overflow:hidden;
}

header #lnb nav > ul:hover {
    overflow:visible;
}

header #lnb nav > ul > li{
    display:inline-block;
    position:relative;
}
/*네비바 메뉴 a태그*/
header #lnb nav > ul > li > a{
    position:relative;
    display:block;
    margin:0 0 0 50px;
    height:40px;
    font-size:16px;
    line-height: 40px;
    text-decoration-line: none;
    color: white;
}
header #lnb nav > ul > li > a:after {
    content:"";
    width:0%;
    position:absolute;
    left:50%;
    bottom:0;
    height:2px;
    transition: all 0.5s;
    
}
header #lnb nav > ul > li > a:hover:after {
    left:0;
    width:100%;
}

header #lnb nav > ul ul {
    background:rgba(33,30,47,0.1);
    padding: 22px 0 0;
    position:absolute;
    width:100%;
    text-align:center;
    list-style:none;
    opacity:0;
    transition: all 0.5s;
    z-index: 9999;
}

header #lnb nav > ul:hover ul {
    opacity:1;
}


header #lnb nav > ul ul li {
    line-height:39px;
}
header #lnb nav > ul ul a {
    position:relative;
    font-size:16px;
    color:white;
}

header #lnb nav > ul ul a:after {
    content:"";
    width:0%;
    position:absolute;
    left:50%;
    bottom:-10;
    height:2px;
    background:black;
    transition: all 0.5s;
}

header #lnb nav > ul ul a:hover:after {
    left:0;
    width:100%;
}




















