<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="kr.ac.kopo.model.MenuComment" alias="MComment"/>
		<typeAlias type="kr.ac.kopo.model.ReviewBoardComment" alias="RComment"/>
		<typeAlias type="kr.ac.kopo.model.NoticeComment" alias="NComment"/>
		<typeAlias type="kr.ac.kopo.util.FileVO" alias="FileVO"/>
		<typeAlias type="kr.ac.kopo.util.SearchVO" alias="SearchVO"/>
		<typeAlias type="kr.ac.kopo.util.PageVO" alias="PageVo"/>
		<typeAlias type="kr.ac.kopo.model.Notice" alias="Notice"/>
		<typeAlias type="kr.ac.kopo.model.Menu" alias="Menu"/>
		<typeAlias type="kr.ac.kopo.model.ReviewBoard" alias="ReviewBoard"/>
		<typeAlias type="kr.ac.kopo.model.Bucket" alias="Bucket"/>
		<typeAlias type="kr.ac.kopo.model.UserVO" alias="UserVO"/>
		<typeAlias type="kr.ac.kopo.model.ExerciseJournal" alias="ExerciseJournal"/>
		<typeAlias type="kr.ac.kopo.model.ExerciseContents" alias="ExerciseContents"/>
		<typeAlias type="kr.ac.kopo.model.basicInformation" alias="basicInformation"/>
	</typeAliases>

 	<mappers>
 		<mapper resource="mybatis/notice.xml" />
		<mapper resource="mybatis/cart.xml"/>
		<mapper resource="mybatis/menu.xml"/>
		<mapper resource="mybatis/reviewboard.xml"/>
		<mapper resource="mybatis/user.xml"/>
		<mapper resource="mybatis/trainer.xml"/>
	</mappers>
</configuration>