/* 알람창 */
::-webkit-scrollbar {

display:none;

}
.alarm-box-header{
    position: fixed;
    z-index: 10;
    top: 100px;
left: 65vw;
    font-size: 9pt;
    height: 36vh;

    display: none;
    background: #3e3e3d;
 
    
}
.alarm-box-inner {
	    overflow: scroll;
	   -ms-overflow-style: none;
	   height: inherit;
}
.alarm-box-header p {
	display:inline-block;
}

.box {
    width: 20vw;
/*     margin: 50px auto; */
    /* background: #e66ad2; */
    border-top: #ccc;
    padding: 20px 10px;
border-top: .0625rem solid #e3e3e3;
    border-color: hsla(0, 0%, 100%, .1);
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: relative;

}
.alarm-box-header:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #3e3e3d;
    border-top: 10px solid #3e3e3d;
    border-bottom: 10px solid transparent;
    right: 12px;
    top: -10.5px;
    /* bottom: 50px; */
    transform: rotate(315deg);
}
.fa-bell {
	margin-right:5px;
}
.alarm-icon{
	color:#FFF;
}