@charset "UTF-8";

body {
    background-color: #211d2f;
    color: white;
}

h1 {
    font-family: 'Nanum Gothic';
}

table {
    width: 1024px;
    height: auto;
   	/*border-top: 1px solid white;*/
    border-collapse: collapse;
    text-align: center;
    font-family: 'Nanum Gothic';
    margin-top: 100px;
}

th, td, .upload-display {
    border-bottom: 1px solid #dfdfdf;
}

.nolist {
	margin:20px 0;
}

#wrapper {
    width: 1024px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
.wrap {
	background-color: #272a3d;
	
}

#table_name {
    background-color: #272a3d;
    height: 80px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.info {
	width: 60px;
	height: 20px;
	background-color: #3b60ae;
	border-radius: 5px;
	border: none;
	color: white;
	cursor: pointer;
}

.accept {
	border: none;
	background-color: #211d2f;
    color: #82acd8;
    cursor : pointer;
}

.reject {
	border: none;
	background-color: #211d2f;
   	color: #d4835e;
   	cursor : pointer;
}

.pro-list tr{
	height: 80px;
}
.psa {
	width:50px;
	height:50px;
}

.upload-thumb-wrap {
    display: inline-block;
    width: 61px;
    padding: 2px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #fff;
}

/* imaged preview */
.upload-display {
    margin-bottom: 5px;
}

@media(min-width: 768px) {
    .upload-display {
        display: table-cell;
        margin-right: 5px;
        text-align: -webkit-center;
        margin-bottom: 0;
    }
}

.upload-thumb-wrap img {
	width: 61px;
   
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto 5px;
}

.upload-display img {
    display: block;
    max-width: 100%;
    width: 100% \7;
/*     height: 80px; */
}