@charset "UTF-8";
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
*{
  box-sizing:border-box;
}

#bi-body{
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bi-footer p{
	color: gray;
    font-size: 12px;
    font-weight: 760;
    font-family: 'Ubuntu', sans-serif;
}
.form-container{
  position: relative;
  background: white;
  max-width: 700px;
  width: 100%;
  padding: 100px;
  border-radius: 3px;
}

.bi-title-box{
	position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
        background: linear-gradient(to bottom, #b11a6d, #9b1d85, #881f99);
}
#bi-title{
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
    top: 20px;
    left: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 660;
}

.buttons-container{
  margin-top: 3em;
}

.bI-btn{
	border:0px;
  border-radius:5px;
  -webkit-appearance: none;
  padding: 1em 2em;
  width: 140px;
  text-align: center;
  cursor: pointer;
}

.bI-btn:hover{
	background:#000;
	color:#fff;
}
.btn-white{
    background: white;
}
.btn-submit{
    background: black;
    color: white;
}

.float-right{
  float: right;
}

.radio-container{
  display: inline-block;
}

.radio-container label{
	cursor:pointer;
}
.bi-text-input-box{
opacity: 0;
  height: 0;
  width: 0;
}

input[type='number'], input[type='text'] {
	margin:50px 0 0 0;	
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.bi-text-input-box ~ label {
  opacity: 1;
  border: 1px solid grey;
  padding: 10px 20px;
  background: white;
  color: black;
}

.bi-text-input-box:active + label {
  opacity: 1;
  border: 1px solid grey;
  background: black;
  color: white;
}

.bi-text-input-box:checked + label {
  opacity: 1;
  border: 1px solid grey;
  background: black;
  color: white;
}
.error-message{
  font-family: 'Ubuntu', sans-serif;
  font-weight:550;
  color: red;
  margin-top: 10px;
  display: none;
}
.bi-text-input-box{
  border: 1px solid black;
  padding: 10px;
  width: 100%;
}
.btn-submit{
  display: none;
}
.btn-submit:disabled{
  background: #333;
  color: #777;
}
.slide-container{
  transition: ease-in .3s all;
  position: relative;
  top: 0;
}

form#questionnaire-form{
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.slide{
  height: 200px;
  width: 100%;
}
.slide h3{
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
}  



/* 성별 아이콘 radio */
 input[name='sex'] {
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 -o-appearance: none;
	 -ms-appearance: none;
	 appearance: none;
	 outline: none;
	 cursor: pointer;
	 margin:0 0 0 2px;
}
 input[name='sex']:after {
	 font-family: 'FontAwesome';
	 display: inline-block;
	 text-align: center;
	 font-size: 60px;
	 content: attr(data-icon);
	 padding: 20px 20px;
	 border-radius: 15px;
	 color: rgba(0,0,0,0.4) !important;
	 transition: box-shadow 1s, color 1s;
}
 input[name='sex']:checked:after {
	 box-shadow: 2px 2px 14px rgba(0,0,0,0.4);
	 color: rgba(255,255,255,0.6);
}
.menu-box {
	position: absolute;
	left:0px;
}


.icon {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
}

.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
/*   background-color: #000; */
/*   box-shadow: 0 3px 5px rgba(0, 0, 0, .2); */
  animation: arrow 700ms linear infinite;
}

.arrow::after {
	content: '';
    position: absolute;
    width: 60%;
    height: 8px;
    top: -11px;
    right: -8px;
    border-radius: 5px;
    background-color: gray;
    transform: rotate(45deg);
}

.arrow::before {
 	content: '';
	position: absolute;
    width: 60%;
    height: 8px;
    top: 14.5px;
    right: -8px;
    border-radius: 5px;
    background-color: gray;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow:hover{
	animation-duration:0.4s;
	animation-name:arrow-move;
}

@keyframes arrow-move{
	0%{
		left:0px;
	}
	50%{
		left:10px;
	}
	100%{
		left:0px;
	}
}

/* 인풋태그 */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input[type='number'],input[type='text'] {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input[type='number']:focus ,input[type='text']:focus{ outline:none; }

/* LABEL ======================================= */
.bi-input-label  {
  color:#999 !important; 
  font-size:18px !important;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input[type='number']:focus ~ label, input:valid ~ label{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}
input[type='text']:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#5264AE;	
}
/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input[type='number']:focus ~ .bar:before, input[type='number']:focus ~ .bar:after{
  width:50%;
}
input[type='text']:focus ~ .bar:before, input[type='text']:focus ~ .bar:after {
  width:50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input[type='number']:focus ~ .highlight{
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
input[type='text']:focus ~ .highlight{
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;	
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}