@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
*{margin:0; padding:0;}

body{
 background: #1e1e2f;
font-family: 'Noto Sans', sans-serif;
}

.four-charts div{

 display:inline-block;
 background:#272a3d;
 margin-bottom:30px;
}

#doughnutChart {


}
#radarChart {

 width:400px;
 height:300px;
}
.four-charts {
 background: #1e1e2f;

}
.menu-box{
width:90px;

}
.menu-bar {
margin:0 auto;
width: 50px;
height:600px;
border-radius:6px;
background:#1d8cf8;
position:fixed;
 margin-left: 20px;
     top: 15%;
}
#wrapper{
margin-left: 90px;

}
#another-chart div{
display:inline-block;
 background:#272a3d;
 margin-bottom:30px;
}
#lineChart-weight{
display:inline-block;
}
.exercise-list{
	width:100%;
	font-size:12pt;
}
.exercise-list th,td{
	color:rgb(154,154,154);
	font-family : 'Nanum Gothic';
	font-size:13px;
}
.exercise-list td{
	border-color: hsla(0,0%,100%,.1);
    padding: 12px 7px;
    vertical-align: middle;
}
#exercise-list-box{
	width:89.5vw;
	height:auto;
	background:#272a3d;
	
}
#exercise-list-box h5{
	color:#fff;
	margin-bottom:15px;
	text-align:center;
	display:inline-block;
}
.menu-icons {
	font-size:32px;
	color:#fff;
	margin-top:10px;
	text-align:center;
	line-height:1.7;
	cursor:pointer;
}
.menu-icons a{
	color:#fff;
	text-decoration:none;
}
#fullBox{
	    /* width: 1000px; */
    margin: 0 auto;
}
.toWrapper{
	height:auto;
	margin-top:30px;
}
.toDo{
	 display:inline-block;
 background:#272a3d;
 height:300px;
 width:43vw;
 margin-right:3vw;
 color:#fff;
}
.toEat{
 display:inline-block;
 background:#272a3d;
 height:300px;
  width:43vw;
  color:#fff;
}
.edit_list, .title {
	display:inline-block;
}
.detail {
	float:right;
	color:#fff;
	cursor:pointer;
	font-size:24px;
	margin-right:14px;
}
.percent {
	
	font-size:10px;
}
.increase {color:#FF6384;}
.decrease {color:hsla(210, 94%, 54%, 1);}
.fixedRate {color:#6c757d;}

