@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Noto+Sans+KR:400,500,700|Noto+Sans:400,700|Poppins:300,400,600,700,900|Ubuntu&display=swap&subset=korean');
body,html,p,table,div,span,ul,li,canvas,tr,td,i{margin:0; padding:0;}
@font-face { font-family: 'S-CoreDream-9Black'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-8Heavy'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-4Regular'; src: url(‘https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-7ExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
 background: #1e1e2f;
font-family: 'Noto Sans', sans-serif;
}

.four-charts div{

 display:inline-block;
 background:#272a3d;
 margin-bottom:30px;
}

#doughnutChart {


}
#radarChart {

 width:400px;
 height:300px;
}
.four-charts {
 background: #1e1e2f;

}

#wrapper{
margin-left: 90px;

}
#another-chart div{
display:inline-block;
 background:#272a3d;
 margin-bottom:30px;
}
#lineChart-weight{
display:inline-block;
}
.exercise-list{
	width:100%;
	font-size:12pt;
}
.exercise-list thead td {
/* 	font-family:'BM JUA','배달의민족 주아',sans-serif; */
	font-family: 'S-CoreDream-4Regular','Noto Sans',sans-serif;
}
.exercise-list th,td{
	color:rgb(154,154,154);
	font-family : 'Nanum Gothic';
	font-size:13px;
}
.exercise-list td{
	border-color: hsla(0,0%,100%,.1);
    padding: 12px 7px;
    vertical-align: middle;
}
#exercise-list-box{
	width:89.5vw;
	height:auto;
	background:#272a3d;
	
}
#exercise-list-box h5{
	color:#fff;
	margin-bottom:15px;
	text-align:center;
	display:inline-block;
}

#fullBox{
	    /* width: 1000px; */
    margin: 0 auto;
    background-color: #1e1e2f;
}
#toWrapper{
	height:auto;
	margin-top:30px;
}
.toDo{
	 display:inline-block;
 background:#272a3d;
 height:400px;
 width:43vw;
 margin-right:3vw;
 color:#fff;
     overflow: scroll;
}
.toEat{
 display:inline-block;
 background:#272a3d;
 height:400px;
  width:43vw;
  color:#fff;
      overflow: scroll;
}

.detail {
	float:right;
	color:#4b4b4b;;
	cursor:pointer;
	font-size:24px;
	margin-right:14px;
	transition:0.3s ease-out;
}
.detail:hover{
	color:#fff;
}

.percent {
	
	font-size:10px;
}
.increase {color:#FF6384;}
.decrease {color:hsla(210, 94%, 54%, 1);}
.fixedRate {color:#6c757d;}
#manager-info {background:#272a3d; width:89.5vw;height:auto;    margin-top: 30px; color:hsla(0,0%,100%,.8);}
.manager-content {padding:12px 15px;}
