* { margin: 0; padding: 0;
    font-family:'NanumGothic';}
.container {
    width: 992px;
    margin: 0 auto;
    margin-top:177px;
    margin-bottom:115px;
}
.subtitle {
    font-size:25pt;
}
.route {
    font-size:13pt;
    color:#666;
    float:right;
}
.middle_zone {
	height:42px;
    margin-top:100px;
}
.totalposts {
    color:#333;
    float:left;
}
.amount_select {
    width:86px;
    height:35px;
    border:1px solid #000;
    float:left;
    margin-right:4px;
}
.search_area {
    width:400px;
    float:right;
}
.search_keyword {
    width:231px;
    height:33px;
    border:1px solid #000;
    float:left;
    margin-right:4px;
}
.search_btn {
    width:45px;
    height:35px;
    float:left;
    background:#777;
    color:#fff;
    text-align:center;
}
.posts {
    width:100%;
    border-top:1px solid black;
    border-collapse:collapse;
}
.posts th {
    height:44px;
    border-bottom:2px solid black;
}
.posts td {
	height:56px;
    border-bottom:1px solid #d6d6d6;
}
.posts tr td:nth-child(1),.posts tr td:nth-child(3),.posts tr td:nth-child(4) {
    text-align:center;
}
.posts tr td:nth-child(1),.posts tr td:nth-child(3) {
	width:10%;
}
.posts tr td:nth-child(4) {
	width:14%;
}
.search_type {
	float:left;
	margin-right:4px;
}
input[class="cb1"] + label,input[class="cb2"] + label {
	display: inline-block;
	color:#000;
	width:50px;
	height:32px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	cursor: pointer;
}
input[class="cb1"]:checked + label,input[class="cb2"]:checked + label {
	color:#fff;
	background-color: #777;
}
input[class="cb1"],input[class="cb2"] {
	display: none;
}
.paging_btns {
	margin:35px 0;
	text-align:center;
}
.btn_ui {
	width:300px;
	margin: 0 auto;
}
.start_btn,.prev_btn,.next_btn,.endpage_btn {
	width:30px;
	height:30px;
	border:1px solid #ccc;
	color:#98999a;
}
.page_num {
	float:left;
	color:#98999a;
	width:30px;
	font-weight:800;
}
.nowpage {
	color:#597fc5;
}
.write {
	width:60px;
    height:35px;
    float:right;
    background:#777;
    text-align:center;
}
.write a {
    color:#fff;
}