
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');



/*********************
Box Sizing
*********************/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  line-height: 1.5;
}
.radios,
.checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
 
}


.checkboxes. label {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
}

.checkboxes input[type="checkbox"],
.checkboxes input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.checkboxes input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  padding: 0.5rem 0 0 2rem;
  margin-bottom: 1rem;
  user-select: none;
  color: #fff;
  top:0;
}
.checkboxes input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.75rem;
  height: 1.75rem;
  border: 2px solid #e900ff;
  border-radius: 0.25rem;
  background: #fff;
  text-align: center;
  transition: background 200ms ease-out;
}
.checkboxes input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
  content: "";
  position: absolute;
  transform: scale(0);
  transition: transform 200ms ease-out;
}

.checkboxes input[type="checkbox"] + label:after {
  background-color: transparent;
  content: "";
  display: block;
  position: absolute;
  left: 0.65rem;
  top: 0.25rem;
  width: 0.5rem;
  height: 1rem;
  opacity: 0.2;
  border-bottom: 3px solid #e900ff;
  border-right: 3px solid #e900ff;
  transform: rotate(45deg);
  transition: border-color 0.3s ease;
}
.checkboxes input[type="checkbox"]:checked + label:before {
  content: "";
}
.checkboxes input[type="checkbox"]:checked + label:after {
  content: "";
  opacity: 1;
}
table {
	border-collapse:collapse;
}
.to_eat,.to_do {
	width:100%;
}
.table td{
	border-top: .0625rem solid #e3e3e3;
	color:hsla(0,0%,100%,.7);
	border-color: hsla(0,0%,100%,.1)
}
.to_do, .to_eat {
	height:50px;
}
.to_do tr>td, .to_eat tr>td{
	border-color: hsla(0,0%,100%,.1);
    padding: 12px 7px;
    vertical-align: middle;
}
.edit_list, .title {
	display:inline-block;
}
.title{
	padding:14px 0 10px 14px;
	color:#fff;
	font-family: 'Noto Sans KR', 'Noto Sans',sans-serif;
}
.logo{
	margin-top:10px;
}
.to_do_date {text-align:center; font-size:24px; color:#6c757d; font-weight:600; display: flex;
    align-items: center;width: 250px; justify-content:space-between;}
.fa-edit {font-size:24px; cursor:pointer;}
.to_item {color: hsla(0,0%,100%,.8);font-weight:600;padding-top: 7px;margin-bottom: 0; font-size:14px;}
.item_box p{color:#6c757d;}
#top_line {display:flex; justify-content:center;}
.th td{font-weight:600;}
/* 마일스톤 progressbar */

.progress-bar {
    background-color: #1b1d2b;
    border-radius: 1.25em;
    width: 400px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}
.progress-value {
    background-color: #344675;
 	margin-left:3px;
    transition: 0.3s all linear;
    border-radius: 1.25em;
    height: 11px;
    display: inline-block;
    
/*     animation: progress 3s ease-in-out forwards; */
/*     -webkit-animation: progress 3s ease-in-out forwards; */
}

.progress-container {
	
}

/* animation */
/*애니메이션 width값 변수로 처리해줘야함(scss사용?)*/
 @keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}

 @-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}
.apply-list {
	text-align:center;
	width:90vw;
}

/*agree,disagree 버튼 css*/
.apply-list tr {


}
.apply-list tr>td {
	border-color: hsla(0,0%,100%,.1);
    padding: 12px 7px;
    vertical-align: middle;
    
    	border-top: .0625rem solid #e3e3e3;
	color:hsla(0,0%,100%,.7);
	border-color: hsla(0,0%,100%,.1)
}
.apply-list .btn{
	text-align: center;
    text-transform: uppercase;
    flex: 1 1 auto;
	margin: 10px;
	position:relative;	
	overflow:hidden;
	transition:0.3s;
  	
}
.apply-list .btn:hover{
	cursor:pointer;
}
.agree {
	border:2px solid #82acd8;

}

.agree:hover {
  color: #f7f7f7;
  background:#82acd8;
}
.disagree{
	border:2px solid #d4835e;
}
.disagree:hover{
  color: #f7f7f7;
  background:#d4835e;
}
.planModal {
	cursor:pointer;
}
.food-modal,.exer-modal {
	display:none;
	position:fixed;
	z-index:4;
/* 	padding-top:100px; */
	left:35%;
	top:20%;
	width:30%;
	height:70%;
	overflow:auto;
	background:#f7f7f7;
	color:#9b1d85;
	
}
.food-management,.exer-management {
	bakcground:#2d333f;
	margin:auto;
	padding:0px;
	
	width:100%;
}

.modal-header  {
	height:100px;
	background:linear-gradient( to bottom, #b11a6d,#9b1d85,#881f99 );
}
.modal-header h2 {
	color:#f7f7f7;
}

* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */

.container 		{ 

  width:100%; 
/*   margin:20px auto 0;  */
  display:block; 
  padding:30px 50px 50px;
}
.container form    {
	margin-top:30px;
}
.modals h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.container input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%	;
  border:none;
  border-bottom:1px solid #757575;
  background:#f7f7f7;
  color:#fefefe;
  font-family: Noto Sans kr;
}
.container input:focus 		{ outline:none; }

/* LABEL ======================================= */
.container label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
 input:focus ~ label, input:valid ~  label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:auto; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#00ccff; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active 상태 */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* highlight */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active 상태 */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}