@import
	url('https://fonts.googleapis.com/css?family=Anton|Lobster|Noto+Sans+KR:400,500,700|Noto+Sans:400,700|Poppins:300,400,600,700,900|Ubuntu&display=swap&subset=korean')
	;

@font-face {
	font-family: 'S-CoreDream-9Black';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-8Heavy';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url(‘https :// cdn.jsdelivr.net/ gh/ projectnoonnu/ noonfonts_six @ 1.2/
		S-CoreDream-4Regular.woff ') format(' woff ');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-7ExtraBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-2ExtraLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BMJUA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/*********************
Box Sizing
*********************/
*, *:before, *:after {
	box-sizing: inherit;
}
/* html{     */
/* 	font-size: inherit; */
/*     -webkit-tap-highlight-color: rgba(0,0,0,0); */
/*     } */
/* body{}     */
html, body {
	box-sizing: border-box;
	line-height: 1.5;
}

i {
	cursor: pointer;
}

table {
	border-collapse: collapse;
}

th {
	text-align: -webkit-match-parent;
}

.btn {
	display: block;
	padding: 6px 12px;
	font-size: inherit;
	font-weight: unset;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	font-family: 'S-CoreDream-4Regular', 'Nanum Gothic', sans-serif;
	border-radius: 4px;
}

.to_eat, .to_do {
	width: 100%;
}

.table td {
	border-top: .0625rem solid #e3e3e3;
	color: hsla(0, 0%, 100%, .7);
	border-color: hsla(0, 0%, 100%, .1)
}

.to_do, .to_eat {
	height: 50px;
}

.to_do tr>td, .to_eat tr>td {
	border-color: hsla(0, 0%, 100%, .1);
	padding: 12px 7px;
	vertical-align: middle;
}

.edit_list, .title {
	display: inline-block;
/* 	margin-bottom: 30px; */
}

.title {
	padding: 14px 0 10px 14px;
	color: #fff;
	font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
}

.title span {
	font-family: S-CoreDream-7ExtraBold, sans-serif;
}

.logo {
	margin-top: 10px;
}

.to_do_date {
	text-align: center;
	font-size: 24px;
	color: #6c757d;
	font-weight: 600;
	display: flex;
	align-items: center;
	width: 250px;
	justify-content: space-between;
}

.fa-edit {
	font-size: 24px;
	cursor: pointer;
}

.to_item {
	color: hsla(0, 0%, 100%, .8);
	font-weight: 600;
	padding-top: 7px;
	margin-bottom: 0;
	font-size: 14px;
}

.item_box p {
	color: #6c757d;
}

#top_line {
	display: flex;
	justify-content: center;
}

.th td {
	font-weight: 600;
	text-align:center;
}
/* 마일스톤 progressbar */
.progress-container-t {
	display: flex;
}

.progress-bar-t {
	background-color: #1b1d2b;
	border-radius: 1.25em;
	width: 400px;
	height: 17px;
	text-align: left;
	display: flex;
	align-items: center;
}

.progress-value-t {
	background-color: #344675;
	margin-left: 3px;
	margin-bottom: 0.5px;
	transition: 0.3s all linear;
	border-radius: 1.25em;
	height: 11px;
	display: inline-block;
	text-align: left;
	width: 40px;

	/*     animation: progress 3s ease-in-out forwards; */
	/*     -webkit-animation: progress 3s ease-in-out forwards; */
}

.progress-container {
	
}

/* animation */
/*애니메이션 width값 변수로 처리해줘야함(scss사용?)*/
@
keyframes progress {from { width:0;
	
}

to {
	width: 35%;
}

}
@
-webkit-keyframes progress {from { width:0;
	
}

to {
	width: 55%;
}

}
.apply-list {
	text-align: center;
	width: 90vw;
}

/*agree,disagree 버튼 css*/
.apply-list tr {
	font-family: 'Noto Sans';
}

.apply-list thead tr>th {
	font-family: 'S-CoreDream-4Regular', 'Noto Sans', sans-serif;
	text-align: center;
	font-size: 14px;
}

.apply-list tr>td {
	border-color: hsla(0, 0%, 100%, .1);
	padding: 12px 7px;
	vertical-align: middle;
	border-top: .0625rem solid #e3e3e3;
	color: hsla(0, 0%, 100%, .7);
	border-color: hsla(0, 0%, 100%, .1)
}

.btn-t {
	text-align: center;
	text-transform: uppercase;
	flex: 1 1 auto;
	margin: 10px;
	position: relative;
	overflow: hidden;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 6px 12px 6px 12px;
}

.btn-t:hover {
	cursor: pointer;
}

.action {
	display: flex;
}

.agree {
	border: 2px solid #82acd8;
	color: #82acd8;
}

.agree:hover {
	color: #f7f7f7;
	box-shadow: inset 30em 0 0 0 #82acd8;
}

.disagree {
	border: 2px solid #d4835e;
	color: #d4835e;
}

.disagree:hover {
	color: #f7f7f7;
	box-shadow: inset 30em 0 0 0 #d4835e;
}

.planModal {
	cursor: pointer;
}

.food-modal, .exer-modal {
	display: none;
	position: fixed;
	z-index: 4;
	/* 	padding-top:100px; */
	left: 50%;
	top: 50%;
	width: 45vw;
	height: 90vh;
	overflow: auto;
	background: #f7f7f7;
	color: #9b1d85;
	transform: translate(-50%, -50%);
}
.food-modal::-webkit-scrollbar,.exer-modal::-webkit-scrollbar { 

    display: none; 

}
.food-management, .exer-management {
	bakcground: #2d333f;
	margin: auto;
	padding: 0px;
	width: 100%;
}

.modal-header {
	display: flex;
	height: 100px;
	background: linear-gradient(to bottom, #b11a6d, #9b1d85, #881f99);
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.modal-header h2 {
	color: #f7f7f7;
	font-family: S-CoreDream-7ExtraBold;
}

* {
	box-sizing: border-box;
}

/* basic stylings ------------------------------------------ */
.contents-container {
	width: 100%;
	/*   margin:20px auto 0;  */
	display: flex;
	flex-direction: column;
	padding: 30px 50px 10px;
}

.contents-container .date-area {
	color: #1b1b1b;
	font-size: 16pt;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: 'BMJUA', 'S-CoreDream-7ExtraBold';
	margin-bottom: 30px;
}

.contents-container form {
	margin-top: 30px;
}

.modals h2 {
	text-align: center;
	margin-bottom: 50px;
}

/* form starting stylings ------------------------------- */
.group {
	position: relative;
	margin-bottom: 45px;
	font-family: 'BMJUA';
}

.contents-container input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;
	background: #f7f7f7;
	color: #1b1b1b;
	font-family: 'BMJUA', 'S-CoreDream-4Regular', 'Nanum Gothic', sans-serif;
}

.contents-container input:focus {
	outline: none;
}

/* LABEL ======================================= */
.contents-container label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
	top: -20px;
	font-size: 14px;
	color: #9b1d85;
}

/* BOTTOM BARS ================================= */
.bar {
	position: relative;
	display: block;
	width: auto;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #9b1d85;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

/* active 상태 */
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width: 50%;
}

/* highlight */
.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active 상태 */
input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

/* animation */
@
-webkit-keyframes inputHighlighter {from { background:#9b1d85;
	
}

to {
	width: 0;
	background: transparent;
}

}
@
-moz-keyframes inputHighlighter {from { background:#9b1d85;
	
}

to {
	width: 0;
	background: transparent;
}

}
@
keyframes inputHighlighter {from { background:#9b1d85;
	
}

to {
	width: 0;
	background: transparent;
}

}

/* 멘티 플랜작성 버튼  */
.save-area {
	font-family: 'Noto Sans', Helvetica, sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.button {
	background: linear-gradient(to bottom, #b11a6d, #9b1d85, #881f99);
	border-radius: 100px;
	padding: 20px 60px;
	color: #f7f7f7;
	text-decoration: none;
	font-size: 1.45em;
	margin: 0 15px;
	width: 80%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: S-CoreDream-7ExtraBold;
	letter-spacing: 1pt;
}

/* Hover state animation applied here */
.button:hover {
	-webkit-animation: hover 1200ms linear 2 alternate;
	animation: hover 1200ms linear 2 alternate;
}

/* Active state animation applied here */
.button:active {
	-webkit-animation: active 1200ms ease 1 alternate;
	animation: active 1200ms ease 1 alternate;
	background: linear-gradient(to bottom, #b11a6d, #9b1d85, #881f99);
}


/* 자동완성 영역 */
.autocomplete {
	position: relative;
	display: inline-block;
	width: 100%;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}

/* input Spinner */
.spinner {
	margin-bottom: 30px;
}

.input-number-group {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.input-number-group input[type=number]::-webkit-inner-spin-button,
	.input-number-group input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.input-number-group .input-group-button {
	line-height: calc(80px/ 2 - 5px);
}

.input-number-group .input-number {
	width: 80px;
	padding: 0 12px;
	vertical-align: top;
	text-align: center;
	outline: none;
	display: block;
	margin: 0;
}

.input-number-group .input-number, .input-number-group .input-number-decrement,
	.input-number-group .input-number-increment {
	border: 1px solid #cacaca;
	height: 40px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 0;
}

.input-number-group .input-number-decrement, .input-number-group .input-number-increment
	{
	display: inline-block;
	width: 40px;
	background: #e6e6e6;
	color: #0a0a0a;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	font-size: 2rem;
	font-weight: 400;
}

.input-number-group .input-number-decrement {
	margin-right: 0.3rem;
}

.input-number-group .input-number-increment {
	margin-left: 0.3rem;
}

/* checkbox css */
.hash-container {
	max-width: 640px;
	font-size: 13px;
	position: relative;
}

ul.ks-cboxtags {
	list-style: none;
	padding: 20px;
	display: flex;
}

ul.ks-cboxtags li {
	/*   display: inline; */
	
}

ul.ks-cboxtags li label {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.9);
	border: 2px solid rgba(139, 139, 139, 0.3);
	color: #adadad;
	border-radius: 25px;
	white-space: nowrap;
	margin: 3px 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: all .2s;
	position: relative;
}

ul.ks-cboxtags li label {
	padding: 8px 12px;
	cursor: pointer;
	pointer-events: auto;
}

ul.ks-cboxtags li label::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 12px;
	padding: 2px 6px 2px 2px;
	content: "\f067";
	transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::before, ul.ks-cboxtags li input[type="radio"]:checked+label::before
	{
	content: "\f00c";
	transform: rotate(-360deg);
	transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label, ul.ks-cboxtags li input[type="radio"]:checked+label
	{
	border: 2px solid #1bdbf8;
	background-color: #12bbd4;
	color: #fff;
	transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"], ul.ks-cboxtags li input[type="radio"]
	{
	display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"], ul.ks-cboxtags li input[type="radio"]
	{
	position: absolute;
	opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label, ul.ks-cboxtags li input[type="radio"]:focus+label
	{
	/*   border: 2px solid #e9a1ff; */
	
}

.nutrient {
	display: flex;
	align-items: end;
}

.nutrient span {
	padding-top: 10px;
}

.sub-title {
	font-family: 'BMJUA', 'S-CoreDream-7ExtraBold';
	font-size: 14pt;
	color: #999;
}

.spinner>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*modal Tab*/
.wizard .nav-tabs {
	position: relative;
	border: 0px;
}

.wizard>div.wizard-inner {
	position: relative;
}

.connecting-line {
	height: 15px;
	background: #e0e0e0;
	position: absolute;
	width: 99.5%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 44%;
	z-index: 1;
	border-radius: 15px;
}

.active-line {
	height: 15px;
	background: #e0e0e0;
	position: absolute;
	width: 99.5%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 44%;
	z-index: 1;
	border-radius: 15px !important;
}

.active .connecting-line {
	background-color: #2ED4E0;
}

.border-right {
	border-radius: 15px 0 0 15px;
}

.border-left {
	border-radius: 0;
}

.wizard .nav-tabs>li.active>a, .wizard .nav-tabs>li.active>a:hover,
	.wizard .nav-tabs>li.active>a:focus {
	cursor: default;
	border: 0;
	color: #2ED4E0;
	border-bottom-color: transparent;
}

.nav-tabs li p {
	padding-top: 78px;
	font-size: 14px;
	text-align: center;
	width:78px;
}

.list-inline {
	text-align: center;
}

span.round-tab {
	width: 78px;
	height: 78px;
	line-height: 78px;
	display: inline-block;
	border-radius: 100px;
	background: #DFE3E4;
	border: 2px solid #fff;
	z-index: 1;
	position: absolute;
	text-align: center;
	font-size: 25px;
}

.wizard li.active span.round-tab {
	background: #2ED4E0;
	color: white;
	border: 2px solid #fff;
}

span.round-tab:hover {
	color: white;
	border: 2px solid #fff;
	background-color: #2ED4E0;
}

.wizard .nav-tabs>li {
	width: 25%;
}

.wizard .nav-tabs>li a {
	width: 70px;
	height: 70px;
	margin: 20px auto;
	border-radius: 100%;
	padding: 0;
	color: #777;
}

.wizard .tab-pane {
	position: relative;
	padding-top: 15px;
	border-top: 1px solid #fff;
	margin-top: 50px;
}

.next-step:hover, .next-step, .prev-step:hover, .prev-step {
	position: relative;
/* 	background-color: #881f99; */
	font-size: 16px;
/* 	color: #FFFFFF; */
}
.modal-btn-collection {
  border-radius: 4px;
  background-color: #881f99;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.modal-btn-collection{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: S-CoreDream-7ExtraBold;
}

.next-step:after {
	content: "\f061";
    position: absolute;
    opacity: 0;
    top: 16px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    right: -20px;
    transition: 0.5s;
}
.prev-step:after {
	content: "\f060";
    position: absolute;
    opacity: 0;
    top: 16px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    right: -20px;
    transition: 0.5s;
}
.add-exer:after,.add-food:after {
	content: "\f067";
    position: absolute;
    opacity: 0;
    top: 18px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    right: -20px;
    transition: 0.5s;
}
.save-submit:after {
	content: "\f574";
    position: absolute;
    opacity: 0;
    top: 17px;
    display: inline-block; 
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    right: -20px;
    transition: 0.5s;
}
.modal-btn-collection:hover{
  padding-right: 24px;
  padding-left:8px;
}

.modal-btn-collection:hover:after {
  opacity: 1;
  right: 10px;
}

.row-line {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

@media ( min-width : 320px ) and ( max-width : 360px ) {
	.wizard {
		width: 90%;
		height: auto !important;
	}
	span.round-tab {
		font-size: 16px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.wizard .nav-tabs>li a {
		width: 50px;
		height: 50px;
	}
	.wizard li.active:after {
		content: " ";
		position: absolute;
		left: 35%;
	}
	.next-step {
		margin-top: 10px;
	}
	.nav-tabs li p {
		padding-top: 60px;
		font-size: 16px;
		text-align: center;
	}
	.connecting-line, .active-line {
		top: 43%;
	}
}

/* ===== Select Box ===== */
.sel {
	font-size: 1rem;
	display: inline-block;
	/*   margin: 15px 15px; */
	width: 70px;
	background-color: transparent;
	position: relative;
	cursor: pointer;
	font-family: 'BMJUA', 'S-CoreDream-4Regular', 'Nanum Gothic', sans-serif;
}

.sel::before {
	position: absolute;
	content: '\f063';
	font-family: 'FontAwesome';
	font-size: 10pt;
	color: #999;
	right: 5px;
	top: calc(50% - 0.5em);
}

.sel.active::before {
	transform: rotateX(-180deg);
}
.sel.active {
	z-index:10;
}

.sel__placeholder {
	display: block;
	font-size: 10pt;
	color: #838e95;
	padding: 0.2em 0.5em;
	text-align: left;
	pointer-events: none;
	user-select: none;
	visibility: visible;
}

.sel.active .sel__placeholder {
	visibility: hidden;
}

.sel__placeholder::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.2em 0.5em;
	content: attr(data-placeholder);
	visibility: hidden;
}

.sel.active .sel__placeholder::before {
	visibility: visible;
}

.sel__box {
	position: absolute;
	top: calc(100% + 4px);
	left: -4px;
	display: none;
	list-style-type: none;
	text-align: left;
	font-size: 1em;
	background-color: #FFF;
	width: calc(100% + 8px);
	box-sizing: border-box;
}

.sel.active .sel__box {
	display: block;
	animation: fadeInUp 500ms;
	height: 200px;
	overflow: scroll;
	z-index: 6;
}

.sel__box__options {
	display: list-item;
	font-size: 14pt;
	color: #838e95;
	padding: 0.5em 1em;
	user-select: none;
}

.sel__box__options::after {
	content: '\f00c';
	font-family: 'FontAwesome';
	font-size: 0.5em;
	margin-left: 5px;
	display: none;
}

.sel__box__options.selected::after {
	display: inline;
}

.sel__box__options:hover {
	background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
	border-bottom: 4px solid rgba(0, 0, 0, 0.3);
	z-index: 6;
}

.sel-year {
	z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel-month {
	/*   display: none; */
	z-index: 2;
}

.separator {
	font-size: 20px;
	font-weight: 900;
	color: #999;
	display: flex;
	align-items: center;
}

/* ===== Keyframes ===== */
@
keyframes fadeInUp {from { opacity:0;
	transform: translate3d(0, 20px, 0);
}

to {
	opacity: 1;
	transform: none;
}

}
@
keyframes fadeOut {from { opacity:1;
	
}

to {
	opacity: 0;
}

}

/*플랜 확인*/
.cal-container {
	width: 100%;
}

.light {
	background-color: #fff;
}

.calendar {
	width: 380px;
	box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
	font-family: 'Roboto', sans-serif;
	padding: 20px 30px;
	color: #363b41;
	margin: 0 auto;
	margin-bottom: 20px;
}

.calendar_header {
	border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy {
	color: #a39d9e;
	font-size: 20px;
}

.calendar_plan {
	margin: 20px 0 40px;
}

.cl_plan {
	width: 100%;
	height: 140px;
	/* 	 background-image: linear-gradient(-222deg, #ff8494, #ffa9b7); */
	background-image: linear-gradient(to bottom, #b11a6d, #9b1d85, #881f99);
	box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
	padding: 30px;
	color: #fff;
}

.cl_copy {
	font-size: 20px;
	margin: 20px 0;
	display: inline-block;
}

.cl_add ,.cl_minus{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	margin: 0 0 0 65px;
	color: #c2c2c2;
	padding: 11px 13px;
}


.calendar_events {
	color: #a39d9e;
}

.ce_title {
	font-size: 14px;
}

.event_item {
	margin: 18px 0;
	padding: 5px;
	cursor: pointer;
}

.event_item:hover {
	background-image: linear-gradient(-222deg, #b11a6d, #9b1d85, #881f99);
	box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.event_item:hover .ei_Dot {
	background-color: #fff;
}

.event_item:hover .ei_Copy, .event_item:hover .ei_Title {
	color: #fff;
}

.ei_Dot, .ei_Title {
	display: inline-block;
}

.ei_Dot {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #a39d9e;
	box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.dot_active {
	background-color: #b11a6d;
}

.ei_Title {
	margin-left: 10px;
	color: #363b41;
}

.ei_Copy {
	font-size: 12px;
	margin-left: 27px;
}

.tab-pane h3 {
	font-family: 'S-CoreDream-7ExtraBold';
}

.tab-pane {
	font-family: 'BMJUA', 'S-CoreDream-4Regular', 'Nanum Gothic', sans-serif;
}

.start-date, .end-date {
	justify-content: space-between;
	display: flex;
	align-items: center;;
}

.end-date {
	margin-bottom: 25px;
}

.subtitle {
	color: #999;
	font-size: 14pt;
	display: flex;
	align-self: center;
	margin: 15px 15px;
	    width: 150px;
}

.menti-btn {
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: auto;
	padding: 1em 2em;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	transition: 0.25s;
}

.chart-menti {
	color: var(--chartColor);
}

.chart-menti:hover, .chart-menti:focus, .cancel-menti:hover,
	.cancel-menti:focus {
	font-family: inherit;
	color: #f7f7f7;
}

.chart-menti:hover, .chart-menti:focus {
	border-color: var(--chartColor);
	box-shadow: inset -5em 0 0 0 var(--chartColor), inset 5em 0 0 0
		var(--chartColor);
}

.cancel-menti {
	color: var(--color);
}

.cancel-menti:hover, .cancel-menti:focus {
	border-color: var(--color);
	box-shadow: inset -5em 0 0 0 var(--color), inset 5em 0 0 0
		var(--color);
}

.btn-collection { 
	--color: #ff7f82; 
	--hover: #ffdc7f; 
	--chartColor: #1e90ff;
}

.cancel-menti>span:nth-child(2), .chart-menti>span:nth-child(2) {
	margin-left: 5px;
}

@media all and (min-width:1024px) {
	.sel {
		font-size: 20pt;
		width: 70px;
	}
	.container .date-area {
		font-size: 14pt;
	}
	.sel__placeholder {
		font-size: 10pt;
	}
	.subtitle {
		font-size: 10pt;
	}
	.menti-btn {
		padding: 0.5em 1em;
	}
	.cancel-menti>span, .chart-menti>span {
		font-size: 8px;
	}
	.modal-btn-collection {
/* 		font-size: 10px; */
    	padding: 15px 5%;
	}
}

@media all and (min-width:1600px) {
	.sel {
		font-size: 20pt;
		width: 100px;
	}
	.sel:before {
		right: 10px;
		font-size: 16pt;
	}
	.sel__box_options {
		font-size: 16pt;
	}
	.sel__placeholder {
		font-size: 13pt;
	}
	.subtitle {
		font-size: 13pt;
	}
	.menti-btn {
		padding: 1em 2em;
	}
	.cancel-menti>span, .chart-menti>span {
		font-size: 13px;
	}
}

@media all and (min-width:1920px) {
	.sel {
		font-size: 20pt;
		width: 120px;
	}
	.sel:before {
		right: 5px;
		font-size: 18pt;
	}
	.sel__box_options {
		font-size: 18pt;
	}
	.sel__placeholder {
		font-size: 16pt;
	}
	.subtitle {
		font-size: 16pt;
	}
	.menti-btn {
		padding: 1em 2em;
	}
	.cancel-menti>span, .chart-menti>span {
		font-size: 14px;
	}
}