@import
	url('https://fonts.googleapis.com/css?family=Anton|Lobster|Noto+Sans+KR:400,500,700|Noto+Sans:400,700|Poppins:300,400,600,700,900|Ubuntu&display=swap&subset=korean')
	;

@font-face {
	font-family: 'S-CoreDream-9Black';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-8Heavy';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url(‘https :// cdn.jsdelivr.net/ gh/ projectnoonnu/ noonfonts_six @ 1.2/
		S-CoreDream-4Regular.woff ') format(' woff ');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-7ExtraBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-2ExtraLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, html, p, table, div, span, ul, li, canvas, tr, td, i {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'BMJUA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.modal {
	display: none;
	position: fixed;
	z-index: 4;
	    min-width: 450px;
    min-height: 600px;
	/* 	padding-top:100px; */
	left: 50%;
	top: 50%;
	width: 30vw;
	height: 70vh;
	overflow: auto;
	background: #ededed;
	color: #9b1d85;
	transform: translate(-50%, -50%);
}
.modal::-webkit-scrollbar { 

    display: none; 

}
.food-management, .exer-management {
	bakcground: #2d333f;
	margin: auto;
	padding: 0px;
	width: 100%;
}

.modal-header {
	display: flex;
	height: 100px;
	background: linear-gradient(to bottom, #b11a6d, #9b1d85, #881f99);
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
.dmodal .modal-header {
	height: 30vh;
    min-height: 250px;
}
.modal-header h2 {
	color: #f7f7f7;
	font-family: S-CoreDream-7ExtraBold;
}

* {
	box-sizing: border-box;
}

/* basic stylings ------------------------------------------ */
.contents-container {
	width: 100%;
	/*   margin:20px auto 0;  */
	display: flex;
	flex-direction: column;
	padding: 30px 50px 10px;
}

.contents-container .date-area {
	color: #1b1b1b;
	font-size: 16pt;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: 'BMJUA', 'S-CoreDream-7ExtraBold';
	margin-bottom: 30px;
}

.contents-container form {
	margin-top: 30px;
}
.contents-box img {
	width:48px;
	height:48px;
}
.modals h2 {
	text-align: center;
	margin-bottom: 50px;
}
/* form starting stylings ------------------------------- */
.group {
	position: relative;
	margin-bottom: 45px;
	font-family: 'BMJUA';
}

.contents-container input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;
	background: #FFF;
	color: #1b1b1b;
	font-family: 'BMJUA', 'S-CoreDream-4Regular', 'Nanum Gothic', sans-serif;
}

.contents-container input:focus {
	outline: none;
}

/* LABEL ======================================= */
.contents-container label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
	top: -20px;
	font-size: 14px;
	color: #9b1d85;
}

/* BOTTOM BARS ================================= */
.bar {
	position: relative;
	display: block;
	width: auto;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #9b1d85;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

/* active 상태 */
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width: 50%;
}

/* highlight */
.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active 상태 */
input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

/* animation */
@
-webkit-keyframes inputHighlighter {from { background:#9b1d85;
	
}

to {
	width: 0;
	background: transparent;
}

}
@
-moz-keyframes inputHighlighter {from { background:#9b1d85;
	
}

to {
	width: 0;
	background: transparent;
}

}
@
keyframes inputHighlighter {from { background:#9b1d85;
	
}

to {
	width: 0;
	background: transparent;
}

}
.next-step:hover, .next-step, .prev-step:hover, .prev-step {
	position: relative;
/* 	background-color: #881f99; */
	font-size: 16px;
/* 	color: #FFFFFF; */
}
.modal-btn-collection {
  border-radius: 4px;
  background-color: #881f99;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.modal-btn-collection{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: S-CoreDream-7ExtraBold;
  bottom:8vh;
}

.next-step:after {
	content: "\f061";
    position: absolute;
    opacity: 0;
    top: 16px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    right: -20px;
    transition: 0.5s;
}
.prev-step:after {
	content: "\f060";
    position: absolute;
    opacity: 0;
    top: 16px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    right: -20px;
    transition: 0.5s;
}
.add-exer:after,.add-food:after {
	content: "\f067";
    position: absolute;
    opacity: 0;
    top: 18px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    right: -20px;
    transition: 0.5s;
}
.save-submit:after {
	content: "\f574";
    position: absolute;
    opacity: 0;
    top: 17px;
    display: inline-block; 
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    right: -20px;
    transition: 0.5s;
}
.apply:after {
	content: "\f2bb";
    position: absolute;
    opacity: 0;
    top: 17px;
    display: inline-block; 
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    right: -20px;
    transition: 0.5s;
}
.modal-btn-collection:hover{
  padding-right: 24px;
  padding-left:8px;
}

.modal-btn-collection:hover:after {
  opacity: 1;
  right: 10px;
}
.list-inline > li {
	display: flex;
    justify-content: center;
}
.text {
	width:125px;
	height:125px;
}
.detail-photo {
    border-radius: 50%;
    background-size: contain;
    background: #fff;
    z-index: 55;
    width: 150px;
    height: 150px; 
    margin: 0 auto;
}
.contents-box {
    width: 25vw;
    min-height: 400px;
    min-width: 400px;
    max-height: 450px;
    position: relative;
    top: -8vh;
    background: #fff;
    padding: 30px 20px;
    transform: translate(-50%,0);
    left: 50%;
    box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
    z-index:11;
}
.contents-box > div {
	margin-bottom:30px;
}
.contents-box > h2 {
text-align: center;
color:black;
margin-bottom:20px;
font-family:'BM JUA';
}
.profile-header {
	color:#f7f7f7;
}
.profile-header p{
	display:inline-block;
	font-size:22pt;
	font-weight:600;
	margin-right:5px;
}
.profile-header span {
	font-size:12pt;
		font-family: 'BMJUA';
}
.sex-box p {
	margin-bottom:30px;
}
/* 토글 css */
.background {
    width: 75px;
    height: 75px;
  position: relative;
  background: transparent;
  transition: 0.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  left:25px;
      display: flex;
    justify-content: space-between;
}
.background--on {
  background: transparent;
  transition: 0.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}
.toggle-body {
    width: 5rem;
    height: 2.856rem;
  position: absolute;
  top: calc(50% - 4rem / 2);
  left: calc(50% - 7rem / 2);
  background: white;
  border-radius: 2rem;
  border:2px solid #618bff;
  animation: angle-reverse 0.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);

}
.toggle-body--on {
  animation: angle 0.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  animation-direction: alternate;
  border:2px solid #ff8fde;
}
.toggle-btn {
width: 1.7rem;
    height: 1.7rem;
  position: absolute;
  top: calc(50% - 2rem / 2.2);
  left: calc(27% - 2rem / 2);
  background: white;
  border-radius: 2rem;
  background: #618bff;
  cursor: pointer;
  transform: translateX(0);
  transition: 0.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
      align-items: center;
}
.toggle-btn--on {
  transition: 0.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
  transform: translateX(150%);
  background: #ff8fde;
}
.background span {
	position:relative;
	  top: -10px;
	 
}
.male {
    left: -40px;
  	

}
.female{
	 left: 5px;

    
}
.gender {
	color:#618bff;
	align-self:center;
}
.gender--female {
	color:#ff8fde;
}
@keyframes angle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes angle-reverse {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.detail-contents-box{
	display:flex;
	flex-direction:row;
	 align-items: center;
	 color:#000;
}
.commons-padding {
	padding:15px;
}

/* ===== Select Box ===== */
.sel {
  font-size: 1rem;
  display: inline-block;
/*   margin: 3em 2em; */
  width: 100%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  margin-bottom:35px;
}

.sel::before {
  position: absolute;
  content: '\f063';
  font-family: 'FontAwesome';
  font-size: 18px;
  color: #999;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  font-family: 'BMJUA';
  font-size: 18px;
  color: #999;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  background-color: #FFF;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-family: 'BMJUA';
  font-size: 16px;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
  z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
/*   display: none; */
  z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
