@import
   url('https://fonts.googleapis.com/css?family=Anton|Lobster|Noto+Sans+KR:400,500,700|Noto+Sans:400,700|Poppins:300,400,600,700,900|Ubuntu&display=swap&subset=korean')
   ;

@font-face {
   font-family: 'S-CoreDream-9Black';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'S-CoreDream-3Light';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'S-CoreDream-8Heavy';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'S-CoreDream-4Regular';
   src: url(‘https :// cdn.jsdelivr.net/ gh/ projectnoonnu/ noonfonts_six @ 1.2/
      S-CoreDream-4Regular.woff ') format(' woff ');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'S-CoreDream-7ExtraBold';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'S-CoreDream-2ExtraLight';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}

body, html, p, table, div, span, ul, li, canvas, tr, td, i {
   margin: 0;
   padding: 0;
}

#full-box {
	background: #1e1e2f;
	width: 100%;
}

#wrapper {
    width: 1024px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
/* 	margin-left: 8%; */
}

#wrapper>div {
	display: flex;

}
.first-line {
	margin-top:80px;
}
.profile-box {
	width: 40%;
    height: 250px;
	background: #272a3d;
	margin: 10px;
	padding: 20px 30px;
	color:hsla(0,0%,100%,.7);
}
.profile-box > h3 {
	padding-bottom:10px;
}
.photo-box {
    width: 100px;
	border-radius:50%;
}
.photo-box img {
	width: 100%;
    height: 100%;
    border-radius:50%;
}

.bottom-line {
	color:#f7f7f7;
}
.bottom-line p {
	padding:10px 15px;
	margin-bottom: 100px;
}
.bottom-line p a{
	color:#1e90ff;
}
.tier-box {
	width:150px;
	height:150px;
}
.tier-box img{
	width:100%;
	height:100%;
	 border-radius: 50%;
}
.contents-box {
	display:flex;
	align-items: center;
}
.myinfo-box{
	margin-left:25px;
}
.tier-info-box{
	margin-left:25px;
}
.myinfo-contents{
	margin-top:25px;
}
.menti-btn {
	background: none;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: auto;
	padding: 1em 2em;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	transition: 0.25s;
}
.chart-menti {
	color: var(--chartColor);
}

.chart-menti:hover, .chart-menti:focus, .cancel-menti:hover,
	.cancel-menti:focus {
	font-family: inherit;
	color: #f7f7f7;
}

.chart-menti:hover, .chart-menti:focus {
	border-color: var(--chartColor);
	box-shadow: inset -5em 0 0 0 var(--chartColor), inset 5em 0 0 0
		var(--chartColor);
}
.btn-collection {
    margin-top: 20px;
	--color: #ff7f82; 
	--hover: #ffdc7f; 
	--chartColor: #1e90ff;
}
.myinfo-box > div{
	margin-top:5px;
	display: flex;
    justify-content: space-evenly;
}

.comment-contents , .board-contents{
	overflow:scroll;
	height:205px;
	position: relative;
	
}

.comment-contents ul,.board-contents ul{
	list-style:none;
	position: absolute;
    top: 0px;
}

.comment-contents a,.board-contents a{
	text-decoration:none;
}

.comment-contents::-webkit-scrollbar ,.board-contents::-webkit-scrollbar{
	display:none;
}

.qbc-content{
	color:#fff;
}

.qbc-question-name{
	color:gray;
}
/* 기초정보 조사 여부 플랙스 안먹어서 대신사용*/
.isServey{
	    margin-left: 5px;
}