
body{
     background-color: black;
    height:100%;
}

#sinup_container {
	top:80px;
    width: 1000px; 
    margin: 0 auto; 
    position: relative;
    color: white;
	font-family: 'Nanum Square';
}
#sinup_container h1 {
    position: relative;
    top: 50px;
    margin-left: 5%;
    /*font-family: 'Adobe Gothic Std';*/
/*     font-family:Trade Gothic LT W01 Cn No-_18,sans-serif; */
	font-family: 'Nanum Square';
    font-size: 60px;
    line-height:70px;
}
.joinbox > h2 {
/*     font-family: 'Adobe Gothic Std'; */
    font-size: 50px;
    letter-spacing: 3px;
}
.singup_content_box{
    margin-top:100px;
    display:grid;
    grid-template-columns: 500px 500px;
}

.singup_content_box ul *{
    font-size:16px;
}

.singup_content_box ul{
    margin:0;
}

.singup_content_box h2{
    font-size:30px;
}

/*왼쪽박스*/
.choosebox {
    margin-left: 5%;
    width: 400px;
    float: left;
}

.choosebox > ul{
    margin-top:10px;
    width:20px;
}

.choosebox > ul > li{
    cursor:pointer;
    font-size:14px;
    width:auto;
}
.choosebox > ul > li:hover{
    color:gray;
}
.join_uls li{
    line-height: 45px;
}

.singup_content_box li {
    list-style: none;
/*     font-family: 'Adobe Gothic Std'; */
    font-size: 40px;
    position: relative;
}

.graybox {
    width:200px;
    height: calc(.12945vw + 1.21966rem);
    line-height: calc(.12945vw + 1.21966rem);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: #282828;
    padding: 0 .5em;
    font-weight: 200;
    font-size:14px;
    margin-top: 10px;
}

.joinbox {
    float:right;
    padding-left:150px;  
}

.singup_content_box input {
    color:white;
    background-color: black;
    border:0.6px solid gray;
    border-radius:4px;
    opacity: 0.5;
    width: 350px;
    height: 50px;
    font-size: 35px;
}

#SignUp{
    cursor:pointer;
    margin-top:20px;
    text-align: center;
    width:200px;
    font-size:20px;
}

#SignUp:hover{
    border-radius:5px;
    background-color:white;
    color:black;
}

.singup-title-img-box{	
	position: relative;
}
.singup-title-img-box img{	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}