@import
	url('https://fonts.googleapis.com/css?family=Anton|Lobster|Noto+Sans+KR:400,500,700|Noto+Sans:400,700|Poppins:300,400,600,700,900|Ubuntu&display=swap&subset=korean')
	;

@font-face {
	font-family: 'S-CoreDream-9Black';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-8Heavy';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-4Regular';
	src: url(‘https :// cdn.jsdelivr.net/ gh/ projectnoonnu/ noonfonts_six @ 1.2/
		S-CoreDream-4Regular.woff ') format(' woff ');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-7ExtraBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-2ExtraLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, html, p, table, div, span, ul, li, canvas, tr, td, i {
	margin: 0;
	padding: 0;
}
body {
	background-color: #211d2f;
	font-family: 'Noto-Sans Kr';
}
#wrapper {
	background-color: #272a3d;
	width:1024px;
	color:#f7f7f7;
	   margin: 0 auto;
	       margin-top: 150px;
}
.trainer-list {
	    display: flex;
    flex-direction: column;
    padding:15px 25px;
	
}
.trainer-list .item-box {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	margin: 30px 0 30px 0;
	    align-items: center;
}
.trainer-list .trainer-info {
	    display: flex;
    flex-direction: row;
        align-items: center;
}
.photo {
	    width: 220px;
	    align-self: center;
	    padding:15px 15px;
	
}
.username  {
	color:#82acd8;
	font-size:24pt;
	font-weight:600;
	margin-bottom:14px;
}
.career {
	font-size:16pt;
	    display: flex;
    align-items: center;
}
.modal-btn-box button {
	outline:0;
	border:0;
	border-radius:4px;
	padding:10px 15px;
	margin:5px;
	font-family: 'Noto-Sans Kr';
	text-transform:uppercase;
	width:100px;
	cursor:pointer;
}
.modal-btn {
	border:1px solid #3b60ae;
	background:#3b60ae;
	color:#fff;
}
.modal-btn-box .details {
	border:1px solid #f5f6f7;
	color:#5f5d70;
}
.title {
	background:#211d2f;
	padding-bottom: 50px;
}

.career-item {
	display:inline-block;
	font-size: 12pt;
	font-family: 'S-CoreDream-4Regular','Noto-Sans Kr';
}

.trainer-menti-count{
	width:200px;
	text-align:right;	
}
.trainer-menti-count p{
	font-size: 16px;
    font-weight: 550;
    margin-bottom: 10px;
}