* {
	margin: 0;
	padding: 0;
	/* font-family: 'NanumGothic'; */
	font-family: "Lato", sans-serif;
}

body {
	background: #201d2e;
	text-decoration: none;
}

.container {
	width: 992px;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 100px;
}

.subtitle {
	font-size: 30pt;
	color: #fff;
	font-weight: 700;
	line-height: 30px;
	text-decoration: none;
}

.middle_zone {
	margin: 100px 0 10px 0;
	position:relative;
	
}

.totalposts {
	color: #333;
	float: left;
}

.amount_select {
	width: 150px;
	height: 40px;
	border: 1px solid #fff;
	float: left;
	margin-right: 4px;
	padding-left: 10px;
	background: #201d2e;
	color: #fff;
	border-radius:20px;
}
.amount_select option {
	width:100px;
	height:10px;
	border-radius:5px;
}

.search_area {
	width: 350px;
	height:40px;
	float: right;
	color: #303030;
	background:#272a3d;
	border-radius:20px;
	line-height:40px;
	vertical-align:middle;
	padding-left:20px;
	box-sizing:border-box;
}

.search_keyword {
	width: 270px;
	height: 40px;
/* 	border: 1px solid #fff; */
	border:none;
	background:none;
	color: #fff;
	float: left;
	padding:0 5px 0 5px;
	box-sizing:border-box;
}

.search_btn {
	width: 60px;
	height: 40px;
	float: right;
	background: #006699 url("/kopo/resources/images/icon/search_btn.png") no-repeat center;
	background-size: 30px;
	color: #303030;
	text-align: center;
	border:none;
	border-radius:0 20px 20px 0;
	line-height:40px;
	vertical-align:middle;
}

.boundaryline {
	clear:left;
	border:0px;
}

.posts {
	width: 100%;
/* 	border-top: 1px solid #fff; */
	border-collapse: collapse;
	color: #fff;
	margin-top:20px;
/* 	background:#272a3d; */
}

.posts a:link {
	text-decoration: none;
	color: #fff;
}

.posts a:visited {
	text-decoration: none;
	color: #fff;
}

.posts th {
	height: 44px;
	border-bottom: 2px solid #fff;
	background:linear-gradient( to bottom, #006699,#1f5699,#1f3f99 );
	color:#fff;
}

/* .posts th:nth-child(1) { */
/* 	border-radius:20px 0 0 0; */
/* } */

/* .posts th:nth-child(5) { */
/* 	border-radius:0 20px 0 0; */
/* } */

.posts td {
	height: 56px;
	border-bottom: 1px solid #d6d6d6;
}

.posts tr td:nth-child(1), .posts tr td:nth-child(3), .posts tr td:nth-child(4),
	.posts tr td:nth-child(5) {
	text-align: center;
}

#questionName div {
	display: inline-block;
}

.cell1 {
	
}

.overName {
	max-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
	/* 	float:left; */
}

.overName a {
	display: inline;
	min-width: 50px;
}

.count {
	width: 15px;
	color: #d4835e;
	/* 	white-space:normal; */
	/* 	overflow:visible; */
}

.posts tr td:nth-child(1), .posts tr td:nth-child(3) {
	width: 10%;
}

.posts tr td:nth-child(5) {
	width: 7%;
}

.posts tr td:nth-child(4) {
	width: 14%;
}

.posts tr td:nth-child(6) {
	width: 10%;
}

.listDel {
	width:60px;
	height:30px;
	border-radius:15px;
	background:#c46b5f;
	line-height:30px;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
	margin:0 auto;
}

.search_type {
	float: left;
	margin-right: 4px;
	color: #fff;
}

input[class="cb1"]+label, input[class="cb2"]+label {
	display: inline-block;
	color: #fff;
	width: 50px;
	height: 32px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

input[class="cb1"]:checked+label, input[class="cb2"]:checked+label {
	color: #fff;
	background-color: none;
}

input[class="cb1"], input[class="cb2"], #concheck, #concheck2 {
	width:0;
	display: none;
}

.paging_btns {
	margin: 35px 0;
	text-align: center;
}

.btn_ui {
	width: 300px;
	margin: 0 auto;
}

.page_num {
	float: left;
	color: #fff;
	width: 30px;
	font-weight: 800;
}

.page_num a:link {
	text-decoration: none;
	color: #fff;
}

.nowpage {
	color: #597fc5;
}

.write {
	width: 100px;
	height: 40px;
	float: right;
	background: #006699;
	text-align: center;
	border-radius: 20px;
}

.write a {
	line-height: 40px;
	vertical-align: middle;
}

.write a:link {
	text-decoration: none;
	color: #fff;
}

.write a:visited {
	text-decoration: none;
	color: #fff;
}
#hashTag {
	width:350px;
	height:40px;
	background:#272a3d;
	border:none;
	color:#fff;
	padding-left:25px;
	border-radius:20px;
	box-sizing:border-box;
	float:right;
	display:none;
}
.addTag {
	list-style:none;
	width:130px;
	height:40px;
	color:#fff;
	background:#006699;
	border-radius: 20px;
	line-height:40px;
	vartical-align:middle;
	text-align:center;
	margin:0 10px 10px 0;
}
/* input[type="checkbox"] { */
/* 	width:0; */
/* 	display:none; */
/* } */
/* .searchType { */
/* 	color:#fff; */
/* 	float:left; */
/* 	margin-right:4px; */
/* 	cursor:pointer; */
/* } */
/* 검색종류선택버튼 */
.searchType-cboxtags {
    list-style: none;
    width:120px;
    float:right;
}
.searchType-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

.searchType-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

.searchType-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

.searchType-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

.searchType-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

.searchType-cboxtags li input[type="checkbox"] {
  display: absolute;
}
.searchType-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.searchType-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}