* { margin: 0; padding: 0;
    font-family:'NanumGothic';}
body{background:#201d2e;text-decoration:none;}
.container {
    width: 1024px;
    margin: 20px auto 0 auto;
}
.subtitle {
    font-size:20pt;
    color:#fff;
    font-weight:700;
    line-height:30px;
    text-decoration:none;
}
.subtitle:hover {
	color:#fff;
	text-decoration:none;
}
.innerbox {
	width:900px;
	margin:0 auto;
	margin-top:50px;
}
.naming-box {
	margin-bottom:40px;
}
.naming-box label {
	font-size:1.1em;
	color:#0692a4;
	margin: 0 10px 0 10px;
}
.naming {
	width:815px;
	height:40px;
}
.char-limit, .char-limit:hover {
	color:#0692a4;
	text-decoration:none;
	float:right;
}
.point_buttons{
	display:none;
	width:10px;
	height:10px;
	background:#272a3d;
	position:relative;
}
.point-box {
	width:900px;
	height:50px;
	background:#272a3d;
}
.point-setting-complete {
	width:90px;
	height:38px;
	border:1.5px solid #006699;
	margin:5px 20px;
	color:#006699;
	line-height:34px;
	vertical-align:middle;
	text-align:center;
	float:left;
	list-style:none;
	cursor:pointer;
	transition:0.3s;
}
.point-set {
	width:90px;
	height:38px;
	border:1.5px solid #006699;
	margin:5px 20px;
	color:#717278;
	line-height:34px;
	vertical-align:middle;
	text-align:center;
	float:left;
	list-style:none;
	cursor:pointer;
	transition:0.3s;
}
.point-set:hover{
	background:#006699;
	color:#fff;
}
.point-setting-complete:hover{
	background:#006699;
	color:#fff;
}
.point-input {
	line-height:50px;
	vertical-align:meddle;
}
.point-input input {
	width:750px;
	height:38px;
	background:#272a3d;
	color:#717278;
	border:0px;
}
.buttons {
	width:900px;
	margin:30px auto 0 auto;
}
.buttons button {
	width:100px;
	height:40px;
	color:#fff;
	background:#006699;
	border:0px;
	margin-left:400px;
}
.Go-back {
	width:100px;
	height:40px;
	border:1px solid #706e79;
	line-height:40px;
	vertical-align:middle;
	text-align:center;
	float:right;
	color:#fff;
}
.Go-back:hover {
	color:#fff;
	text-decoration:none;
}