* { margin: 0; padding: 0;
    /* font-family:'NanumGothic'; */
    font-family: "Lato", sans-serif;}
body{background:#201d2e;text-decoration:none;color:#fff;}
#wrap {
	width:1000px; margin:70px auto;
}
#commentAdd {
	width:150px;
	height:50px;
	border:1px solid #006699;
	cursor:pointer;
	float:right;
	text-align:center;
	line-height:50px;
	vertical-align:middle;
	box-sizing:border-box;
	background:#006699;
	font-size:13pt;
	color:#fff;
}
#commentAdd a:visited {
	color:#fff;
}
#QuestionTitle {
	width:950px;
	max-width:950px;
}
.bigQ {
	width:120px;
	height:160px;
	color:#006699;
	font-size:100pt;
	position:relative;
	diaplay:inline-block;
	float:left;
}
.QuestionName {
	max-width:800px;
	max-height:300px;
	font-size:30pt;
	padding-top:20px;
	word-break:break-all;
	position:relative;
	diaplay:inline-block;
	float:left;
	margin-bottom:30px;
}
#pointOX {
	width:40px;
	height:20px;
	background:#006699;
	text-align:center;
}
.zone{
	width:800px;
	height:20px;
	margin:50px 0 5px 0;
	position:relative;
	diaplay:inline-block;
	float:left;
}
#contents {
	width:950px;
	margin:auto auto 50px auto;
	clear:left;
}
#content {
	width:950px;
	margin:0 auto 30px auto;
	font-size:15pt;
	word-break:break-all;
}

#qn {
	width:200px; float:right;
}
#commentInput {
	clear:left;
	width:950px;
	height:250px;
	background:#272a3d;
	border:1px solid #ccc;
	margin:0 auto;
}

#comment {
	display:block;
	width:950px;
	height:200px;
	resize:none;
	background:#272a3d;
	border:1px solid #ccc;
	color:#fff;
	padding:5px;
	box-sizing:border-box;
	font-size:14pt;
	
}
.char-limit {
	float:right;
	line-height:50px;
	vertical-align:middle;
	margin-right:10px;
}
.commentCount {
	width:950px;
	margin:50px auto 0 auto;
	font-size:15pt;
}
.notification {
	width:25px;
	margin-right:10px;
}
.commentExplanation {
	font-size:13pt;
	margin-top:15px;
}
#commentOutput {
	width:950px;
	margin:30px auto;
}

.coca {
	font-size:11pt;
	margin:50px 0 0 0;
	clear:left;
	position:relative;
}
.cola {
	font-size:13pt;
	margin:10px;
}
.cola button {
	background:none;
	border:0px;
}
.personImg {
	width:30px;
	margin:10px;
	float:left;
}
.Qn {
	font-size:13pt;
	margin-top:10px;
	float:left;
}
.combo {
	margin-top:10px;
	float:left;
}
.update_mode {
	width:20px;
	float:left;
}
.commentUpdate {
	width:20px;
	color:#fff;
	margin:11px 0 0 10px;
	cursor:pointer;
}
.masi {
	/* clear:left; */
	float:left;
	margin:20px 0 0 0;
	width:780px;
	word-break:break-all;
}
.commentContentBox {
	width:680px;
}
.commentDel {
	width:80px;
	height:30px;
	background:#272a3d;
	text-align:center;
	line-height:30px;
	vartical-align:middle;
	border:1px solid #c46b5f;
	float:right;
	cursor:pointer;
	color:#c46b5f;
	font-size:11pt;
	margin-top:20px;
}
.updateForm {
	background:#272a3d;
	width:680px;
	min-height:30px;
	resize:none;
	color:#fff;
	float:left;
	overflow:visible;
}
.update_btn {
	width:80px;
	height:30px;
	background:#272a3d;
	text-align:center;
	line-height:30px;
	vartical-align:middle;
	border:1px solid #006699;
	float:right;
	cursor:pointer;
	color:#006699;
	font-size:11pt;
}
.choice {
	width:80px;
	height:30px;
	background:#272a3d;
	text-align:center;
	line-height:30px;
	vartical-align:middle;
	border:1px solid #409c4b;
	float:right;
	cursor:pointer;
	color:#409c4b;
	font-size:11pt;
	margin-top:20px;
}
.check {
	width:100px;
	margin-right:10px;
	float:left;
}
.boundaryline {
	clear:left;
	border:0px;
}
.floor_btns {
	clear:left;
	width:950px;
	margin:0 auto;
}
.gotoAndRun_btns {
	width:200px;
	margin:0 auto;
}
.gotoList {
	width:80px;
	height:30px;
	background:#272a3d;
	text-align:center;
	line-height:30px;
	vartical-align:middle;
	border:1px solid #fff;
	float:right;
	cursor:pointer;
	color:#fff;
	font-size:11pt;
}
.gotoUpdate {
	width:80px;
	height:30px;
	background:#272a3d;
	text-align:center;
	line-height:30px;
	vartical-align:middle;
	border:1px solid #006699;
	margin-right:10px;
	float:left;
	cursor:pointer;
	color:#006699;
	font-size:11pt;
}
.runDelete {
	width:80px;
	height:30px;
	background:#272a3d;
	text-align:center;
	line-height:30px;
	vartical-align:middle;
	border:1px solid #c46b5f;
	float:left;
	cursor:pointer;
	color:#c46b5f;
	font-size:11pt;
}
.End-line {
	clear:all;
	margin-bottom:20px;
	border:0px;
}
.tierborderStart {
	width:200px;
	margin-left:5px;
	position:absolute;
	top:-25px;
	z-index:0;
}
.hashTagList {
	width:100%;
	clear:left;
}
.hashTagItem {
	list-style:none;
	width:100px;
	height:30px;
	color:#fff;
	background:#006699;
	border-radius: 15px;
	line-height:30px;
	vartical-align:middle;
	text-align:center;
	position:relative;
	display:inline-block;
	margin:0 10px 10px 0;
	font-size:10pt;
}
